
.mainDiv{
display: flex;
justify-content: center;
} 

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  button.neutral {
    background-color: #fdd835;
  }
  
  button.bad {
    background-color: #f44336;
  }
  
  button:hover {
    background-color: #45a049;
  }